.font-color{
    color: #b2b6bf !important;
}

.icon-color{
    color: #4e74f3;
}

.icon-background-color{
    background-color: #4e74f3;
}

.icon-background-color:hover{
    background-color: #4366d8;
}

.td-style{
    background-color: #1f1e2f !important;
    color: #b2b6bf !important;
    
  }

.bg-color{
    background-color: #171626;
}

.input-field{
    background-color: #1f1e2f;
    border-color: #1f1e2f;
}

.input-field:focus{
    background-color: #171626;
}

.input-field::placeholder{
    color: #9499a4;
}

.search-field{
    background-color: #171626;
    border:none;
    outline: none;
}


.search-field::placeholder{
    color: #9499a4;
}

/* Example of customizing the colored theme */

/* Adjust the background color of success toasts */
.vue-toastification-container .vue-toastification__toast--success {
    background-color: #4caf50; /* Custom success color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of error toasts */
  .vue-toastification-container .vue-toastification__toast--error {
    background-color: #f44336; /* Custom error color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of info toasts */
  .vue-toastification-container .vue-toastification__toast--info {
    background-color: #2196f3; /* Custom info color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of warning toasts */
  .vue-toastification-container .vue-toastification__toast--warning {
    background-color: #ff9800; /* Custom warning color */
    color: #fff; /* Text color */
  }

  table tbody td{
    font-size: 15px;
  }

  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Keeps header above other content */
    padding: 10px;
  }
  



  