.font-color{
    color: #b2b6bf !important;
}

.icon-color{
    color: #4e74f3;
}

.icon-background-color{
    background-color: #4e74f3;
}

.icon-background-color:hover{
    background-color: #4366d8;
}

.td-style{
    background-color: #1f1e2f !important;
    color: #b2b6bf !important;
    
  }

.bg-color{
    background-color: #171626;
}

.input-field{
    background-color: #1f1e2f;
    border-color: #1f1e2f;
}

.input-field:focus{
    background-color: #171626;
}

.input-field::placeholder{
    color: #9499a4;
}

.search-field{
    background-color: #171626;
    border:none;
    outline: none;
}


.search-field::placeholder{
    color: #9499a4;
}

/* Example of customizing the colored theme */

/* Adjust the background color of success toasts */
.vue-toastification-container .vue-toastification__toast--success {
    background-color: #4caf50; /* Custom success color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of error toasts */
  .vue-toastification-container .vue-toastification__toast--error {
    background-color: #f44336; /* Custom error color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of info toasts */
  .vue-toastification-container .vue-toastification__toast--info {
    background-color: #2196f3; /* Custom info color */
    color: #fff; /* Text color */
  }
  
  /* Adjust the background color of warning toasts */
  .vue-toastification-container .vue-toastification__toast--warning {
    background-color: #ff9800; /* Custom warning color */
    color: #fff; /* Text color */
  }


  input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #1f1e2f inset !important;
    /* Background color */
    -webkit-text-fill-color: white !important;
    /* Autofill text color */
    transition: background-color 5000s ease-in-out 0s;
    caret-color: white !important;
    /* Ensures the caret color remains white */
}

/* Ensures the text and caret remain white when focused or active */
input:focus,
input:active {
    -webkit-text-fill-color: white !important;
    /* Text color */
    color: white !important;
    /* Fallback for non-WebKit browsers */
    box-shadow: 0 0 0px 1000px #1f1e2f inset !important;
    /* Background color */
    caret-color: white !important;
    /* Forces the cursor to be white */

}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #e0dfdf; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  table tbody td{
    font-size: 15px;
  }

  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Keeps header above other content */
    padding: 10px;
  }
  



  